
<div class="outerParentDiv">
  <div>
    <div>
      <div class="mainArea">
        <div class="mainHeding">HEALTHY KITCH</div>
        <div class="subHeading">Healthy doesn't need to be boring</div>
      </div>
      <div class="topRightHeadingArea">
        <div>
          STAY CONNECTED
          <br>
          <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
          <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
          <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
        </div>
        <div>
          <a href="#">Register | Login</a>
        </div>
      </div>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DIETARY REQUIREMENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CUISINES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">POPULAR COLLECTIONS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">LIVE FEED</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">HK NEWS</a>
    </li>
  </ul>
</div>
